<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://www.brechtbaekelandt.net/tools</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>febe9caa-67de-4ebd-9343-70caebf9777a</ProjectGuid>
    <MSDeployServiceURL>https://www.brechtbaekelandt.net:8172/msdeploy.axd?site=brechtb-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>brechtb-001-site1/tools</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UseMSDeployExe>True</UseMSDeployExe>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <UserName>ifc\brechtb-001</UserName>
    <_SavePWD>True</_SavePWD>
    <TargetFramework>netcoreapp2.1</TargetFramework>
  </PropertyGroup>
</Project>